---
layout: page
title: About Me
excerpt: "Tianshu Yuan"
modified: 2014-08-08T19:44:38.564948-04:00
image:
  feature: Joshua Earle.jpg
  credit: Joshua Earle
  creditlink: https://unsplash.com/photos/ZMcLVBi9xx4
---

<h2> Student </h2>
<p>
  I am Tianshu Yuan.  
  3 Years being undergraduate in Shanghai University of Finance and Economics.  
  1 Year being an exchange student in University of California, Berkeley.  
  1.5 Year being a graudate student in North Carolina State University.  
</p>


<h2> Build this to: </h2>

<p> Be quant  </p>
<p> Record life </p>
<p> Kill time </p>
<p> Look for a job. </p>

<p> 
  You can find my resume here: 
  <a href="https://github.com/ryanyuan42/ryanyuan42.github.io/blob/master/assets/Resume-Tianshu%20Yuan.pdf">resume</a>
</p>

<ul class="post-list">
{% for post in site.posts limit:20 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
