---
layout: page
title: About Me
excerpt: "Tianshu Yuan"
modified: 2014-08-08T19:44:38.564948-04:00
image:
  feature: Joshua Earle.jpg
  credit: Joshua Earle
  creditlink: https://unsplash.com/photos/ZMcLVBi9xx4
---

<h2> Financial Math Student </h2>
<p>
  I am Tianshu Yuan, currently a master of financial mathematics student in NC State.  <br/>
  I spent 3 Years being undergraduate in Shanghai University of Finance and Economics.  <br/>
  1 Year being an exchange student in University of California, Berkeley.  <br/>
  1.5 Year being a graudate student in North Carolina State University.  <br/>
  I am mostly interested in Quantitative Finance area, including portfolio management, asset pricing, machine learning and alpha-discovery<br/>
  My favoriate author is Attlio Meucci.
</p>

<p> 
  You can find my resume here: 
  <a href="https://github.com/ryanyuan42/ryanyuan42.github.io/blob/master/assets/Resume-Tianshu%20Yuan.pdf">resume</a>
</p>


<h2> Build this to: </h2>

<p> Be quant <br/>
    Record life <br/>
    Kill time <br/>
    Look for a job. <br/>
</p>



<ul class="post-list">
{% for post in site.posts limit:20 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
